// @import { routerMode } from './common/env'
$default-font-size: 23.43px !default;
$main-color:#5280eb;
$main-bg:linear-gradient(69deg,#5b8cfe 0%,#73aafc 100%), linear-gradient(#333333, #333333);
html{
  font-size: $default-font-size;
  background: #fff;
  font-family: Arial,"Microsoft Yahei","微软雅黑",STHeiti,Tahoma,Helvetica;
}
body{
  margin:0 !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // -webkit-user-select:none; 
  // -moz-user-select:none; 
  // -ms-user-select:none; 
  // user-select:none;
}
// * {
//   -webkit-tap-highlight-color: transparent;
//   -webkit-appearance: none;
// }

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td, img {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
ul{
  >li{
    list-style: none;
  }
}
i,em{
  font-style: normal;
}
a{
  text-decoration: none;
}
input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}
@function toRem($px){
  // @return ($px*414/750/$default-font-size)*1rem;
  @return ($px/2/$default-font-size)*1rem;
  @return ($px/$default-font-size)*1rem;
}
.navbar {
  display: none;
}

//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}
//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}
.weui-loading_toast .weui-toast{
  width:toRem(200px) !important;
  min-height: toRem(200px) !important;
}



